html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 0px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    color: white;
}

.label-rg{
    background-color: #bde7f5;
    color: gray;
    padding: 5px;
    border-radius: 5px;
    margin-top: 1cm;
    
}