#map {
    width: 100%;
    height: 1000px;
}

.my-div-icon {
    background-color: white;
    padding: 20px;
    font-size: 20pt;
}

.my-div-icon i {
    margin-left: -20px;
    margin-top: -50px;
}

input[type=text] {
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
  background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
canvas{
  /*prevent interaction with the canvas*/
  pointer-events:none;
}
.divscroll{
    margin: 4px, 4px;
    padding: 4px;
    background-color: green;
    width: 200px;
    height: 110px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}