#map {
    width: 100%;
    height: 1000px;
}

.my-div-icon {
    background-color: white;
    padding: 20px;
    font-size: 20pt;
}

.my-div-icon i {
    margin-left: -20px;
    margin-top: -50px;
}

input[type=text] {
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
  background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
canvas{
  /*prevent interaction with the canvas*/
  pointer-events:none;
}
.divscroll{
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    max-height: fit-content;
    margin-left: -5pt;
    margin-top: -5pt;
    border-radius: 5px;
    border: 1px solid darkslategray;
}

.btn-format{
    border-radius: 5px;
    border-color: 1px solid black;
    border: solid;
    padding: 5px;
    background-color:#d3f0f9;
}
.btn-format:hover{
    background-color:#749bfc;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;

    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  .fsMy-12{
    font-size: 12pt;
  }
  .fsMy-14{
    font-size: 14pt;
  }
  .fsMy-16{
    font-size: 16pt;
  }
  .fsMy-24{
    font-size: 24pt;
  }
  .fsMy-32{
    font-size: 32pt;
  }

  .icon-map{
    font-size: 20pt;
    margin-left: -10pt;
    margin-top: -10pt;
  }
  .boton-format {
    color: #99a3a4;
    cursor: pointer;
}

.boton-format:hover {
    color: #424949;
}

.boton-change {
    border: #99a3a4 solid 1px;
    border-radius: 3px;
    font-size: 20px;
    width: 50px;
    height: 34px;
    text-align: center;
    cursor: pointer;
}

.boton-change:hover {
    background-color: #f2f4f4;
}
.boton-change-2 {
    border: #99a3a4 solid 1px;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.boton-change-2:hover {
    background-color: #f2f4f4;
}

.line-layer {
    border-radius: 3px;
    border: #99a3a4 solid 1px;
    padding: 3px;
    margin: 3px;
}

.line-layer:hover {
    background-color: #f2f4f4;
}

.line-number {
    background-color: white;
}

.line-number:hover {
    background-color: #f2f4f4;
    font-weight: bold;
}

.divscroll{
    height: 200px;
    overflow-x: auto;
    overflow-y: auto;
    text-align: justify;
    max-height: fit-content;
    margin-left: -5pt;
    margin-top: -5pt;
    border-radius: 5px;
    border: 1px solid darkslategray;
}

.divscroll-y{
    height: 200px;
    overflow-x: hidden;
    overflow-y:auto;
    text-align: justify;
    max-height: fit-content;
    margin-left: -5pt;
    margin-top: -5pt;
    border-radius: 5px;
    border: 1px solid darkslategray;
}

.list-items-odpi{
    background-color: white;
}
.list-items-odpi:hover{
    background-color:#f2f4f4;
    font-weight: bold;
}