.treport-1{
   font-size: 20pt;
   font-weight: bold;
   color: gray;
   text-align: center;
   margin-top: 5px;
   margin-bottom: 50px;
}

.treport-2{
    font-size: 15pt;
    font-weight: bold;
    color: gray;
    text-align:left;
    margin-top: 50px;
    margin-bottom: 10px;
 }

 .treport-3{
    font-size: 14pt;
    font-weight: bold;
    color: gray;
    text-align:left;
    margin-top: 30px;
    margin-bottom: 10px;
 }

 .treport-4{
    font-size: 13pt;
    font-weight: bold;
    font-style: italic;
    color: gray;
    text-align:left;
    margin-top: 30px;
    margin-bottom: 10px;
 }

 .treport-5{
    font-size: 12pt;
    font-weight: bold;
    font-style: italic;
    color: black;
    text-align:left;
    margin-top: 20px;
    margin-bottom: 10px;
 }

 .treport-6{
    font-size: 12pt;
    font-weight: bold;
    font-style: italic;
    color: gray;
    text-align:left;
    margin-top: 20px;
    margin-bottom: 10px;
 }

.tparagraph{
    font-size: 12pt;
    font-weight: normal;
    color: black;
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 40px
 }

 .tparagraph0{
    font-size: 12pt;
    font-weight: normal;
    color: black;
    text-align: justify;
    margin-bottom: 10px;
 }
 .tlabel-i-1{
    font-size: 13pt;
    font-weight:bold;
    color:green;
    text-align: center;
    margin-bottom: 10px;

 }
 .report-justify{
    text-align: justify;
 }