.border-ini-org {
    border-inline-start: 1rem solid;
    border-inline-end: 0.1rem solid;
    border-top: solid;
    border-top-width: 0.1rem;
    border-bottom: solid;
    border-bottom-width: 0.1rem;
    writing-mode: horizontal-tb;
}

.rf-labels {
    font-size: 1vw;
    text-wrap: wrap;
}



.bg-org {
    background-color: #840A54;
}

.text-org {
    color: #840A54;

}

.btn-org {
    transition-duration: 0.4s;
    background-color: #840A54;
    color: white;
}

.dialog-org {
    background-color: blue;
    border-radius: 5px;
    border-color: whitesmoke;


}

.par-org {
    text-align: justify;
    text-justify: inter-word;
}

.tex-org-big-gris {

    font-size: 80pt;
    text-align: center;
    font-weight: bold;

}




.btn-org:hover {
    background-color: #A42F6A;
    color: white;
}

.list-group-org {
    transition-duration: 0.4s;
    background-color: #840A54;
    color: white;
}

.list-group-org:hover {
    background-color: #A42F6A;
    color: white;
}

.bg-gradiente-org {
    background: linear-gradient(#840A54, #A42F6A);
}

.bg-gradiente-org-2 {
    background: linear-gradient(#CD6155, #D98880);
}

.bg-org-gray {
    transition-duration: 0.4s;
    background-color: #F2F3F4;
}

.labelorg-orange-light {
    background-color: #FBF8EF;
    border-radius: 8px;
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
    font-size: 13px;
    width: max-content;
    white-space: nowrap;
    margin-top: 5px;
    margin-bottom: 5px;

}

.collapse-org {
    border-radius: 8px;
    padding: 5px;
    padding-left: 10px;
    font-weight: 500;
    font-size: 18px;
}

.item-panel {
    border-radius: 8px;
    padding: 5px;
    margin: 2px;
    padding-left: 20px;
    font-size: 13px;
}

.item-schema {
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    padding:8px;
    margin: 8px;
    width: 300px;
    border-left: 1rem solid;
}
td-center {
    display: flex;
    align-items: center; 
}